# This file sets environment variables for your Django application.
# It should be placed in the .ebextensions directory.

option_settings:
  aws:elasticbeanstalk:application:environment:
    # DJANGO_SETTINGS_MODULE tells Django where to find its main settings file.
    DJANGO_SETTINGS_MODULE: "backend.settings"
    # PYTHONPATH adds your project root to the Python path.
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  
  # WARNING: DO NOT ADD 'WSGIPath' here. Its absence is what forces Elastic Beanstalk
  # to use your Procfile and run the application with Daphne instead of Gunicorn.
